@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

h1,
p {
  font-family: Lato;
}

.icon_Change {
  margin: auto;
  display: flex;
  justify-content: end;
}

.icon_Change:hover {
  opacity: 0.5;
}

.item {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 5px;
}

.item_img {
  height: 100px;
}

.item_name {
  font-size: 20px;
  text-transform: uppercase;
}

.item_color {
  font-size: 12px;
  color: grey;
}

.item_price {
  color: red;
  font-size: 16px;
}

.item_btn {
  height: 25px;
  padding: 5px 8px;
  border: 1px solid red;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: red;
  margin-right: 10px;
}

.card_view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 300px;
  margin: 15px 30px;
  box-shadow: 1px 5px 10px #a39e9e;
  position: relative;
}

.card_img {
  height: 300px;
  position: absolute;
  z-index: -1;
}

.card_name {
  font-size: 20px;
  text-align: center;
  margin: 15px 0 5px 0;
  text-transform: uppercase;
}

.card_color {
  font-size: 12px;
  color: grey;
  text-align: center;
}

.card_price {
  color: red;
  font-size: 16px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card_button {
  height: 25px;
  padding: 5px 8px;
  border: 1px solid red;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: red;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.store {
  margin: auto;
  max-width: 1200px;
  min-width: 620px;
}